<nav class="bg-[#e4e3f0] py-4">
    <div class="flex justify-center items-center space-x-10 text-gray-700 text-sm font-medium">
      <a pRipple class="hover:text-blue-900 cursor-pointer">Reportes</a>
      <a pRipple class="hover:text-blue-900 cursor-pointer">Soporte</a>
  
      <div class="mx-6">
        <button class="bg-[#2e2c88] p-2 rounded-lg">
          <i class="pi pi-balance-scale text-white text-lg"></i>
        </button>
      </div>
  
      <a pRipple class="hover:text-blue-900 cursor-pointer">Usuarios</a>
      <a pRipple class="hover:text-blue-900 cursor-pointer">Casos</a>
    </div>
    <hr class="mt-4 border-t-2 border-[#2e2c88] mx-4" />
  </nav>
  