<nav class="bg-[#e4e3f0] py-2">
  <div class="flex justify-center items-center space-x-10 text-gray-700 text-sm font-medium"> 
    
    <a pRipple class="hover:text-blue-900 cursor-pointer">Reportes</a>
    <a pRipple class="hover:text-blue-900 cursor-pointer">Soporte</a>

    <!-- Logo en el centro -->
    <img src="assets/img/logo.png" alt="Logo" class="h-13 w-auto" />

    <a pRipple class="hover:text-blue-900 cursor-pointer">Usuarios</a>
    <a pRipple class="hover:text-blue-900 cursor-pointer">Casos</a>
  </div>

  <hr class="mt-2 border-t-2 border-[#2e2c88]" />
</nav>
